.manaDrawerContainer {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    border: 4px solid black;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.manaDrawerContainer::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    bottom: 0px;
    border: 4px solid #809ba6;
    background: #5e7d93;
    pointer-events: none;
}

.manaDrawer {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    padding-top: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.manaBalance {
    height: 80px;
}

.manaBalance img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.manaDrawerContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    justify-content: center;
}

.manaDrawerContentText1 {
    position: relative;
    width: 100%;
    border: 2px solid black;
    border-radius: 40px;
    background-color: #809ba6;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

.manaDrawerContentText2 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #809ba6;
    padding: 10px 20px;
}

.buyManaTitle {
    width: 80%;
    margin: 0 auto;
    color: white;
    font-size: 20px;
}

.buyManaWrapper {
    position: relative;
}

.buyManaWrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}