.coin {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    background-color: #5e7d93;
}

.coinInner {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    border: 4px solid black;
    border-radius: 20px;
}

.coinInner::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border: 4px solid #809ba6;
    border-radius: 16px;
    pointer-events: none;
}

.balance {
    padding: 5px 10px;
    font-size: 50px;
    color: white;
    border-radius: 20px;
    background-color: transparent;
}


@media (max-width: 400px) {
    .balance {
        font-size: 40px;
    }
}

.balance.special {
    background-color: #809ba6;
}

.coinName {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 50px;
    text-transform: uppercase;
    color: white;

    text-shadow:
        -3px -3px 0 #000,
        3px -3px 0 #000,
        -3px 3px 0 #000,
        3px 3px 0 #000;
}

.coinName.special {
    color: #fec24e;
}

.withdraw {
    width: 100%;
    position: absolute;
    border-radius: 16px;
    border: 2px solid black;
    bottom: 0;

    font-size: 24px;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px black, /* Sharp shadow */
    -2px -2px 0px black,
    2px -2px 0px black,
    -2px 2px 0px black;
    letter-spacing: 3px;

    padding: 5px 10px;
    background-color: #fec24e;
}

@media (max-width: 440px) {
    .withdraw {
        padding: 5px 0;
    }
}

@media (max-width: 420px) {
    .withdraw {
        font-size: 20px;
        text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
    }
}

@media (max-width: 360px) {
    .withdraw {
        font-size: 16px;
        text-shadow:
            -1.5px -1.5px 0 #000,
            1.5px -1.5px 0 #000,
            -1.5px 1.5px 0 #000,
            1.5px 1.5px 0 #000;
    }
}