.container {
    position: relative;
    height: 100vh;
    width: 100vw; 
    border: 7px solid black;
    background-color: #5e7d93;
}

.innerContainerProfile {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 7px solid #809ba6;
    padding-bottom: 15px;
}

.mainContentProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}