.manaContainerWrapper {
    position: relative;
}

.manaBalanceText {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    font-size: 20px;
    letter-spacing: 2px;
}

.progressBarManaBalance {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 70%;
    height: 20px;
    margin: 0 auto;
}

.barContainerClassName {
    border-radius: 5px;
    border: 2px solid #000;
}