
.inviteDrawer {
    position: relative;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    border: 4px solid black;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    font-family: '2157', sans-serif;
    min-height: 80vh;
    max-height: 100vh;
    height: 100%;
}

.inviteDrawer::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    bottom: 0px;
    border: 4px solid #809ba6;
    background: #5e7d93;
    pointer-events: none;
}

.inviteFriendsDrawer {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    padding-top: 25%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.drawerTitleWrapper {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 85%;
}

.drawerTitleWrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    font-size: 20px;

    padding: 10px 20px;
    border: 2px solid #000;
    background-color: #809ba6;
    color: white;
    border-radius: 10px;
}
.bonus {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bonusText {
    font-size: 25px;
    /* letter-spacing: 2px; */
}
.bonusDesc {
    font-size: 18px;
}

.referral {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.referralTitle {
    font-size: 20px;

}

.referralCode {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border: 2px solid #000;
    background-color: #809ba6;
    color: white;
    border-radius: 10px;
    height: 40px;
}

.referralCodeText {
    width: 92%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 3px;
}

.copyButton {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    width: 30px;
    z-index: 10;
    height: 30px;
    cursor: pointer;
}

.copyButton img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}